.purptext {
    color:#802bb1;
}

.yellowtext {
    color:#ffe400;
}

ul.nav a:hover {
    color: #802bb1 !important;
}

nav {
    background-color:#2d283e;
    position: fixed;
    z-index: 1001; 
}
.containernav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color:#ffe400;
    font-size:1.5rem;
}

nav-link:hover{
    color: #802bb1;
}

/*my text within parallax div*/
#paratext{
    width:18em;
    font-size:3rem;
    color: #ffe400;
    background:#802bb1;
    text-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
}

/*This is to create my parallax background*/
.parallax {
    background-image: url("/Assets/Img/equip.jpg");
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.equip {
    margin-top:40px;
    margin-bottom:40px;
    display:flex;
    justify-content:space-around;
    
}

.equip1 {
    width:25%;
    border:2px solid red;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
    margin: 25px 25px 50px 25px;
}

.equip1 h2 {
    text-align: center;
    color:#802BB1;
}

.equip1 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}

equip

