html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /*<-- that is to cancel out the free space that shows on the right hand side*/
}

.purptext {
    color: #802bb1;
}

.yellowtext {
    color: #ffe400;
}

.purpback{
    background:#802bb1;
}

.yellowback {
    background:#ffe400;
}

nav {
    background-color: #2d283e;
    position: fixed;
    z-index: 1001;

}

/*to allow nav items to align next to each other*/
.containernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: #ffe400;
    font-size: 1.5rem;
}

ul.nav a:hover {
    color: #802bb1 !important;
}

/*my text within parallax div*/
#paratext{
    width:18em;
    font-size:3rem;
    color: #ffe400;
    background:#802bb1;
    text-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
}

/*This is to create my parallax background*/
.parallax {
    background-image: url("/Assets/Img/spiritShelf.jpg");
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    margin-top:50px;
}