html, body {
    margin:0px;
    padding:0px;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
}

.purptext {
    color:#802bb1;
}

.yellowtext {
    color:#ffe400;
}

nav {
    background-color:#2d283e;
    
}
.containernav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color:#ffe400;
    font-size:1.5rem;
}

ul.nav a:hover {
    color: #802bb1 !important; 
}

.parallax {
    background-image:url("/Assets/Img/spiritShelf.jpg");
    height:1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}



